<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= form_for :session, url: sessions_path() do |f| %>
  User name: <%= f.text_field :name, placeholder: 'Username' %>
  <%= f.submit %>
<% end %>
