<!DOCTYPE html>
<html>
  <body>
    <% flash.each do |type, msg| %>
    <div class="flash_message">
      <%= msg %>
    </div>
    <% end %>
    <div class="new_user" style="margin-top: 0px;">
      <%= form_for @user do |f| %>
        <p>User name:</p>
        <%= f.text_field :name, placeholder: 'Create username' %><br>
        <%= f.submit 'CREATE USER', class: 'submit_btn' %>
      <% end %>
    </div>
  </body>
</html>
