// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_section {
  margin-top: 48px !important;
}

.category_article_info {
  background-color: white;
  height: 100%;
  position: relative;
}

.category_article_show {
  margin-bottom: 0 !important;
  height: 380px;
}

.category_article_info h1 {
  color: #f99c00;
  font-weight: bold;
  margin: 15px 15px 0 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #f99c00;
  display: inline-block;
}

.category_article_info h2 {
  margin-left: 15px;
  margin-bottom: 15px;
}

.category_article_show h2 a{
  color: #4e443f;
  font-weight: bold;
}

.category_truncate_text {
  margin: 0 15px;
  height: 190px;
  overflow: hidden;
}

.category_truncate_text a{
  color: black;
}

.category_vote_section {
  margin-left: 15px;
  padding: 0;
  position: absolute;
  bottom: 30px;
}

.category_vote_section h3,
.category_vote_section p {
  padding: 0 15px;
  height: 20px;
}

.category_article_info > p {
  margin-left: 15px;
}

.category_article_show h3 {
  color: black;
  font-weight: bold;
  display: inline;
}

.category_article_show p {
  color: black;
}

.favorite_shadow {
  color: #e9062f;
  transition: 0.2s;
  margin-left: 10px;
}

.favorite_shadow:hover {
  color: #4e443f;
  transition: 0.2s;
}

.favorite_highlight:hover {
  color: #e9062f;
  transition: 0.2s;
}

.favorite_highlight {
  color: #4e443f;
  transition: 0.2s;
  margin-left: 10px;
}

.vote_shadow {
  color: #f99c00 !important;
  transition: 0.2s;
}

.vote_highlight:hover {
  color: #f99c00 !important;
  transition: 0.2s;
}

.vote_shadow:hover {
  color: #4e443f !important;
  transition: 0.2s;
}

.vote_highlight {
  color: #4e443f !important;
  transition: 0.2s;
}

.category_article_show img {
  width: 100%;
  height: 100%;
}

.category_show_titles {
  background-color: white;
}

.category_show_titles p {
  color: #4e443f;
}

.category_show_titles h2 {
  color: #fa5f00;
  font-weight: bold;
}

.category_show_titles {
  padding: 5px 0 5px 20px;
}

.category_show_section {
  margin: auto !important;
  margin-top: 53px !important;
  width: 1200px;
}

.category_show {
  margin: auto;
  margin-bottom: 5px !important;
}

.category_show > p {
  color: #fa5f00;
}

.category_show_img_author img {
  height: 100%;
  width: 100%;
}

.category_show_img_author {
  position: relative;
  background-color: blue;
  height: 200px;
}

.category_show_img_author p {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #fa5f00;
  font-weight: bold;
}

.category_show:hover h2 {
  color: #f99c00;
}
