// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_profile {
  width: 100% !important;
  margin: auto;
  margin-top: 48px;
}

.profile_most_recent_article {
  margin-bottom: 5px;
}

.user_profile p,
.user_profile a {
  color: black;
}

.profile_second_article,
.profile_options,
.profile_most_recent_article {
  height: 400px;
}

.profile_most_recent_article a{
  display: flex;
}

.profile_most_recent_article_info {
  padding: 0 20px;
  position: relative;
}


.profile_most_recent_article img {
  width: 60%;
  height: 400px;
}

.profile_article,
.profile_second_article,
.profile_options,
.profile_most_recent_article {
  background-color: white;
  padding: 0;
}

.profile_article {
  height: 300px;
}

.profile_most_recent_article_text {
  margin-top: 15px;
  padding-right: 10px;
  height: 320px;
  overflow: auto;
}

.profile_article_title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  overflow: hidden;
}

.profile_article_title h3 {
  color: #fa5f00;
  font-weight: bold;
}

.profile_article_title p {
  color: #4e443f;
  font-weight: bold;
}

.profile_second_article img {
  width: 100%;
  height: 60%;
}

.profile_article_info {
  padding: 20px;
  position: relative;
}

.profile_article_info > p {
  height: 68px;
  overflow: hidden;
}

.profile_article img {
  width: 60%;
  height: 220px;
  float: left;
  margin-bottom: 80px;
}

.profile_article a {
  background-color: red;
}

.profile_article .profile_article_info {
  height: 300px;
  display: relative;
  padding-bottom: 80px;
}

.profile_article .profile_article_info > p {
  padding-left: 20px !important;
  margin-right: 0 !important;
  height: 100%;
}

.profile_article .profile_article_title {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
}
