<body>
  <% @categories.each do |category| %>
  <article class="category_show">
    <h2><%= link_to category.name, category_path(id: category.id) %></h2>
    <p><%= latest_category_article(category) %></p>
    <img src="<%= latest_category_article_image(category) %>" width="150px">
  </article>
  <% end %>
</body>
